
.container{
  /* margin: 10px !important; */
  width: 100%;
  display: flex;
  justify-content: center;
}

ul{
  width: 90%;
  padding-inline-start: 0px;
}

.completed{
  background-color: green;
  padding: 0 6px;
  height: fit-content;
  margin: auto 0;
  border-radius: 4px;
  color: white;
  width: 10%;
  text-align: center;
}
.completed-li{
  background-color: green;
  color: white;
}

.pending{
  background-color: red;
  padding: 0 2px;
  height: fit-content;
  margin: auto 0;
  border-radius: 4px;
  color: white;
  width: 10%;
  text-align: center;
}


li{
  transition: opacity 0.5s ease-out;
  opacity: 1;margin: auto;
  font-size: medium;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px;
  background-color: #f9f9f9;
  width: 90%;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.content{
  width: 60%;
}

